pywin32==311
pandas[all]==2.3.3
numpy==2.3.3
psutil==7.1.0
python-decouple==3.8
requests==2.32.5
selenium==4.36.0
tkintertable==1.3.3
PyPDF2==3.0.1
tkcalendar==1.6.1
keyring==25.6.0
win11toast==0.36.2
pydantic==2.11.10
cryptography